pokemon
    name:string,
    hp:integer,
    attack:integer,
    defense:integer,
    sp_attack:integer,
    sp_defense:integer,
    speed:integer

types
    name:string

pokemon_type
    pokemon:references
    type:references

moves
    accuracy:integer
    name:string
    power:integer
    pp:integer
    type:references