<div class="mx-5">
    <h1>About Us</h1>
    <h5>Datasource Description and Structure</h5>
    <p>The datasources that we have chosen for the project come from <a class="text-decoration-none" href="https://github.com/fanzeyi/pokemon.json">this</a> 
    Pokemon dataset github repository. This repository includes several JSON files 
    that contain information on Pokemon and their attributes, Pokemon moves, Pokemon types, Pokemon images, 
    as well as the various items. For the purposes of this project we will be focusing on pulling data from the Pokedex, Moves, and Types 
    JSON files.</p> 

    <p>The Pokedex JSON contains information related to the Pokemon themselves, including id, name, type, and base stats such as HP, 
    attack and defense. The data is contained in an array of hashes, some of which we have drilled into further to expose specific data 
    (such as the "base" hash). The Moves JSON has information regarding the different Pokemon moves, and is structured as an array of hashes. 
    The Types JSON has information for the various types of Pokemon, and is also structured as an array of hashes.</p> 
    
    <h5>Database Tables</h5>
    <p>The database tables required are the Pokemon (with columns: id, name, hp, attack, defense, sp_attack, sp_defense, speed, created_at, updated_at), 
    Move (with columns: id, name, power, accuracy, type_id, pp, created_at, updated_at), Type (with columns: id, name, created_at, updated_at), 
    and PokemonType (a joiner table we created to account for the many-to-many relationship between Pokemon and Type, 
    with columns: id, pokemon_id, type_id, created_at, updated_at) tables.</p>

    <h5>Relationships</h5>
    <p>Along with the many-to-many relationship between the Pokemon and Type datasources, which was resolved with the PokemonType joiner table, 
    there is also an association between the Move and Type datasources, where Move has a type_id foreign key.</p>

    <h5>Entity Relationship Diagram</h5>
    <%= image_tag 'Pokedex_ERD.jpg' %>
</div>