  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand mx-3 text-light" href="/home/index">Pokedex</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-light" href="/home/index">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/about_us/index">About Us</a>
      </li>
            <li class="nav-item">
        <a class="nav-link text-light" href="/pokemons">Pokemon</a>
      </li>
            <li class="nav-item">
        <a class="nav-link text-light" href="/moves">Moves</a>
      </li>
    </ul>
    <%= form_with(url:search_pokemons_path, method: :get, local: true, class: "form my-2 my-lg-0") do %>
    <div class="row mx-1 my-3">
        <div class="col-5">
            <%= text_field_tag(:keywords, nil, class:"form-control mr-sm-2", placeholder: "Search") %>
        </div>
        <div class="col-4">
          <%= select_tag(:category, options_for_select(["Pokemon", "Moves"], params[:category]), class: "form-control") %>
        </div>
        <div class="col">
            <%= submit_tag("Search", class: "btn btn-primary my-2 my-sm-0")%>
        </div>
    </div>
    <% end %>
  </div>
</nav>